{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    <h1>S'enregistrer</h1>

    {{ form_errors(registrationForm) }}

    {{ form(registrationForm) }}

{% endblock %}
