<div id="messages-list">
    {% if messages is empty %}
        <div class="text-center text-muted p-4">
            <i class="fas fa-comments fa-3x mb-3"></i>
            <p>Aucun message pour le moment.<br>Commencez la conversation !</p>
        </div>
    {% else %}
        {% for message in messages %}
            {% include 'chat/_message.html.twig' with {'message': message, 'current_user': current_user} %}
        {% endfor %}
    {% endif %}
</div>