{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container mx-auto py-6 px-4 max-w-4xl">
        <a href="#" onclick="window.history.back(); return false;"
           class="back-button text-gray-600 hover:text-blue-500 mb-4 inline-flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
            </svg>
            <span class="text-sm">Retour</span>
        </a>
        <h1 class="text-2xl font-bold mb-4">Nouvelle catégorie</h1>

        {{ include('category/_form.html.twig', {'button_label': 'Créer'}) }}
    </div>
{% endblock %}
